# Ignore everything by default
*

# Allow directories to be searched
!*/

# Allow specific file types
!**/*.py
!**/*.sh

# Specifically allow the gitignore itself
!.gitignore

# Specifically ignore common artifacts and environment-specific files
**/.DS_Store
**/__pycache__/
*.pyc
.ipynb_checkpoints/
